* {
    box-sizing: border-box;
}



table {
	width: 100%;
	
}

td {
	background-color: #ffffff;
	padding: 2%;
	  -webkit-transition: background-color 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: background-color 0.5s ease-out;  /* FF4+ */
      -ms-transition: background-color 0.5s ease-out;  /* IE10 */
       -o-transition: background-color 0.5s ease-out;  /* Opera 10.5+ */
          transition: background-color 0.5s ease-out;
	

}

td:hover {
	color: white;
}


#main {
	margin-bottom: 140px;
}
