


* {
    box-sizing: border-box;
	color: #888;

	
}


a{
	color:#888;
	mix-blend-mode: multiply;

}

a:hover{
	color:black;
}

table {
	width: 100%;
	
}

tr {
	border-radius: 5%;
	overflow: hidden;
	border: 1px #888 solid;
}

td {
	background-color: #ffffff;
	padding: 2%;
	 -webkit-transition: background-color 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: background-color 0.5s ease-out;  /* FF4+ */
      -ms-transition: background-color 0.5s ease-out;  /* IE10 */
       -o-transition: background-color 0.5s ease-out;  /* Opera 10.5+ */
          transition: background-color 0.5s ease-out;
}




td:hover {
	color: white;
	
}

td:hover .x_controls{
	color: white;
	display: block;
}

.controls {
	padding: 0 0 2% 0;
	
}


#main {
	margin-bottom: 200px;
}


.x_delete {
	margin-left: 15px;
}

.x_different {
	margin-left: 15px;
}

.x_controls {
	float: right;
	display: none;
}

.x_copy {
	margin-left: 15px;
}

.x_lock {
	
}

#bg {
	float: right;
	-webkit-transition: background-color 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: background-color 0.5s ease-out;  /* FF4+ */
      -ms-transition: background-color 0.5s ease-out;  /* IE10 */
       -o-transition: background-color 0.5s ease-out;  /* Opera 10.5+ */
          transition: background-color 0.5s ease-out;
}
